/* desktop first */

/* reset */
*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

/* utility*/


.flex{
    display: flex;
}



.sfondo{

    height: 100vh;
    width: 100vw;
    background-color: #d6dbd8;
  
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

   
}

.cont-principale{
    width: 80%;
    height: 90%;
    /* margin: 0 auto; */

    /* debug */
    /* background-color: blue; */
    border: 1px solid rgb(157, 154, 154);
}


/* media cont principale */
@media screen and (max-width: 768px) {
    .cont-principale{
        height: 100vh;
        width: 100vw;
    }
    
}

/* lato sinistro */

.sinistra{
    width: 30%;
    
}

.foto-sx{
width: 14%;
}

.foto-sx>img{
    border-radius: 50%;
    object-fit: cover;
    padding: 5px 0 2px 5px;
    aspect-ratio: 1;
}

.simboli-sx{
    width: 50%;
    text-align: end;
    padding: 10px;
    color: rgb(139, 137, 137);
}

.header-sx {
    height: 10%;
    border-right: 1px solid  rgb(139, 137, 137);
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

}

.notifiche{
    height: 10%;
    background-color:#8edafc;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 5px;

    /* debug */
    
    border: 1px solid black;
}

.togli-notifica{
    width: 15%;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
    text-align: center;
    
}

.togli-notifica>i{
    padding: 8px 5px 5px 7px;
   color:#8edafc ;
      
}

.desc-notifica{
    padding-left: 10px;
}

.desc-notifica>h5{
    font-size: 0.7rem;
}

.desc-notifica>a{
    font-size: 0.6rem;
}


.ricerca{
    height: 10%;

    /* debug */
    background-color: rgb(38, 216, 151);
    border: 1px solid black;
}

.lista-contatti{
    height: calc(70% - 5px);

    background-color: black;
}

/* media cont sinistra */

@media screen and (max-width: 768px) {
    .sinistra{
      width: 10%;
       
    }

    .notifiche, .ricerca{
        display: none;
        
    }
    
    .lista-contatti{
        height: calc(90% - 1px);
    }

    .simboli-sx{
       display: none;
    }
    
    .foto-sx{
        width: 60%;
     
        }
        .header-sx {
            justify-content: center;
        }

}


@media screen and (max-width: 426px) {
    .sinistra{
      display: none;
       
    }
}

/* lato destro */

.destra{
    width: 70%;

     /* debug */
     /* background-color: rgb(9, 45, 45); */
    }

/* header destra */

.header-dx{
    height: 10%;
    /* border: 1px solid black; */

    /* debug */
    /* background-color: yellow; */
    justify-content: space-between;
}

.nome {
    width: 50%;
    justify-content: flex-start;
    align-content: center;
}

.foto-dx {
    width: 12%;
    /* height: 12%; */
   
}
.foto-dx>img{
    border-radius: 50%;
    object-fit: cover;
    padding: 5px 0 2px 5px;
    aspect-ratio: 1;
}

.descrizione{
    padding-left: 10px;
    padding-top: 7px;
}

.descrizione>p{
   font-size: 0.5rem;
   color: rgb(139, 137, 137);
   padding: 5px 0;
}

.simboli{
    width: 50%;
    text-align: end;
    padding: 10px;
    color: rgb(139, 137, 137);
}

.fa-solid{
    padding-left: 10px;
}



/* media header destra */

@media screen and (max-width: 768px){
    .foto-dx {
        width: 13%;
    }
}



@media screen and (max-width: 426px){
    .foto-dx {
        width: 20%;
    }
}




/* main destra */

   .messaggi{
    height: calc(80% - 32px);
    background-image: url(../img/mine.jpg);
    padding: 15px;
    overflow-y: scroll;
   
   }

.testo-verde{
    width: 60%;
    background-color:#d5f9ba;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
    float: right;
    margin-bottom: 20px;
    font-size: 0.8rem;
   
}
p{
    padding: 5px;
}

.lateral-text{
    flex-direction: column;
    justify-content: space-between;
    color: rgb(139, 137, 137);
    padding: 5px 7px 5px 5px;
    font-size: 0.5rem;
}

.testo-bianco{
    width: 60%;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
    font-size: 0.8rem;
   
}




/* footer destra */

   .footer{
    height: 10%;
    background-color: #f3eeea;

    /* debug */
    /* background-color: blueviolet; */
    /* border: 1px solid black; */

   }

   .cont-footer{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    color: rgb(139, 137, 137)
    
   }

   #footer{
    width: 85%;
    border-radius: 5px;
    padding: 2px;
    height: 70%;
    border: none;
   }

.fa-face-smile{
    padding-left: 10px;
    padding-top: 10px;
}



   .fa-microphone{
    padding-right: 10px;
    padding-top: 10px;
    
   }

/* media cont destro */

   @media screen and (max-width: 768px) {
    .destra{
      width: 90%;
       
    }
    
}


@media screen and (max-width: 426px) {
    .destra{
      width: 100vw;
      height: 100vh;
       
    }
    .fa-microphone{
        display: none;
    }
    .fa-face-smile{
        display: none;
    }
    
    .simboli{
        display: none;
    }
    .cont-footer{
        justify-content: center;
    }
    #footer{
        width: 90%;
    }
}